/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-family: 'Roboto';
  font-size: 1.6rem;
}
p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.header {
  margin-top: 54px;
}
.header--p-0 {
  padding: 0;
}
.header--al-item {
  align-items: center;
}
.header__phone a {
  font-size: 12px;
  color: #000;
  letter-spacing: 2.4px;
  text-decoration: none;
}
.header__lang {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header__lang ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__lang li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 8px;
}
.header__lang li:last-child {
  padding-right: 0;
}
.header__lang li a {
  text-decoration: none;
  color: #777;
}
.header__lang li a:hover,
.header__lang li a:focus {
  color: #000;
}
.header__lang li a.active {
  color: #000;
}
.header__nav {
  text-align: center;
  font-size: 14px;
  letter-spacing: 6.16px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 45px;
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 50px;
}
.header__nav li:last-child {
  margin-right: 0;
}
.header__nav a {
  text-decoration: none;
  color: #000;
}
.logo__name {
  font-family: 'jaapokki_subtractregular';
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7.92px;
}
.logo__slogan {
  font-size: 9px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.96px;
}
.basket {
  display: flex;
  justify-content: flex-end;
}
.header-total-price {
  display: flex;
  margin-left: 35px;
}
.header-total-price__num {
  font-size: 10px;
  width: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
}
.header-total-price__sum {
  font-size: 10px;
  color: #000;
  padding-left: 9px;
}
.header-total-price__sum:first-child {
  padding-left: 0;
}
.header-browse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-browse {
    flex-wrap: wrap;
  }
}
@media (min-width: 1300px) {
  .header-browse {
    flex-wrap: nowrap;
  }
}
.header-browse__title {
  display: inline-block;
  width: 780px;
}
@media (min-width: 768px) {
  .header-browse__title {
    margin-left: 15px;
    flex-grow: 1;
    order: 1;
  }
}
@media (min-width: 1300px) {
  .header-browse__title {
    margin-left: 91px;
    flex-grow: 0;
    order: 0;
  }
}
.header-browse__title p {
  font-size: 35px;
  line-height: 2;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header-browse__title p {
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .header-browse__title p {
    width: 480px;
  }
}
.header-browse__title a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 5px;
  color: #000;
  border: 2px solid #060606;
  padding: 18px 33px;
  text-transform: uppercase;
}
.header-browse__title a:hover {
  border: 2px solid #b5b5b5;
  color: #b5b5b5;
}
.header-browse--m-27 {
  margin: 0 27px;
}
.products__filter {
  font-family: 'jaapokki_subtractregular';
  font-size: 36px;
  letter-spacing: 12.2px;
  text-transform: uppercase;
  margin: 100px auto 0;
  padding: 0;
  list-style-type: none;
}
.products__filter li {
  margin: 0;
  padding: 0;
  display: inline-block;
  border: 1px solid #b5b5b5;
  padding: 63px 43px;
}
.products__filter a {
  text-decoration: none;
  color: #ccc;
  position: relative;
}
.products__filter a::before {
  content: "men";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  color: #000;
  font-family: "Roboto";
  font-size: 14px;
}
