/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-family: 'Roboto';
  font-size: 1.6rem;
  max-width: 1920px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}
.title {
  font-family: 'Roboto';
  font-size: 24px;
  letter-spacing: 8.5px;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .title {
    font-size: 34px;
  }
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  letter-spacing: 5px;
  color: #000;
  border: 2px solid #060606;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .btn {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    padding: 14px 29px;
  }
}
@media (min-width: 992px) {
  .btn {
    font-size: 20px;
    padding: 18px 33px;
  }
}
.btn:hover {
  border: 2px solid #b5b5b5;
  color: #b5b5b5;
}
.btn--margin {
  margin-top: 100px;
}
.header {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .header {
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 55px;
  }
}
.header--order {
  order: 1;
}
@media (min-width: 576px) {
  .header--order {
    order: 0;
  }
}
.header__phone a {
  font-size: 12px;
  color: #000;
  letter-spacing: 2px;
  text-decoration: none;
  display: block;
  text-align: center;
}
@media (min-width: 576px) {
  .header__phone a {
    letter-spacing: 2.4px;
  }
}
.header__nav {
  text-align: center;
  font-size: 14px;
  letter-spacing: 4.16px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .header__nav {
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 6.16px;
  }
}
@media (min-width: 768px) {
  .header__nav {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}
@media (min-width: 992px) {
  .header__nav {
    margin-bottom: 45px;
  }
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 50px;
}
.header__nav li:last-child {
  margin-right: 0;
}
.header__nav a {
  text-decoration: none;
  color: #000;
}
.logo-name {
  font-family: 'jaapokki_subtractregular';
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6.8px;
}
@media (min-width: 768px) {
  .logo-name {
    font-size: 18px;
    letter-spacing: 7.92px;
  }
}
.logo-slogan {
  font-size: 9px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.96px;
}
.header-rigth {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.header-rigth__lang {
  font-size: 10px;
  letter-spacing: normal;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .header-rigth__lang {
    letter-spacing: 2px;
  }
}
.header-rigth__lang ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-rigth__lang li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 8px;
}
.header-rigth__lang li:last-child {
  padding-right: 0;
}
.header-rigth__lang li a {
  text-decoration: none;
  color: #777;
}
.header-rigth__lang li a:hover,
.header-rigth__lang li a:focus {
  color: #000;
}
.header-rigth__lang li a.active {
  color: #000;
}
.header-total-price {
  display: flex;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .header-total-price {
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .header-total-price {
    margin-left: 35px;
  }
}
.header-total-price__num {
  font-size: 10px;
  width: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
}
.header-total-price__sum {
  font-size: 10px;
  color: #000;
  padding-left: 9px;
}
.header-total-price__sum:first-child {
  padding-left: 0;
}
.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.promo .img {
  display: none;
}
@media (min-width: 576px) {
  .promo .img {
    display: block;
  }
}
.promo--margin {
  margin: 0 27px;
}
@media (min-width: 576px) {
  .promo--margin {
    margin: 0 10px;
  }
}
@media (min-width: 992px) {
  .promo--margin {
    margin: 0 15px;
  }
}
.promo-disc {
  display: inline-block;
  width: 550px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .promo-disc {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .promo-disc {
    margin-left: 40px;
  }
}
@media (min-width: 1200px) {
  .promo-disc {
    margin-left: 70px;
  }
}
@media (min-width: 1400px) {
  .promo-disc {
    margin-left: 91px;
  }
}
.promo-disc__title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo-disc__title {
    font-size: 20px;
    margin-bottom: 45px;
  }
}
@media (min-width: 992px) {
  .promo-disc__title {
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 7px;
  }
}
@media (min-width: 1200px) {
  .promo-disc__title {
    font-size: 30px;
    line-height: 1.8;
  }
}
@media (min-width: 1300px) {
  .promo-disc__title {
    font-size: 35px;
    line-height: 2;
    letter-spacing: 8.75px;
  }
}
.products {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .products {
    margin-top: 75px;
  }
}
@media (min-width: 1200px) {
  .products {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}
.products-filter {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'jaapokki_subtractregular';
  letter-spacing: 12.2px;
}
@media (min-width: 768px) {
  .products-filter {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .products-filter {
    font-size: 36px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .products-filter {
    font-size: 36px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1920px) {
  .products-filter {
    font-family: 'jaapokki_subtractregular';
    font-size: 36px;
    letter-spacing: 12.2px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px auto 0;
    padding: 0;
    list-style-type: none;
  }
}
.products-filter__block {
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.products-filter__element {
  margin: 0 0 9px;
  padding: 0;
  display: block;
}
@media (min-width: 576px) {
  .products-filter__element {
    margin: 0px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .products-filter__element {
    margin-right: 15px;
  }
  .products-filter__element:last-child {
    margin-right: 0;
  }
}
.products-filter__button {
  display: inline-block;
  color: #cecece;
  cursor: pointer;
  padding: 10px 24px 10px 36px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in;
  color: #ccc;
  position: relative;
  margin: 0;
}
.products-filter__button:hover {
  border: 1px solid #b5b5b5;
}
.products-filter__button:focus {
  outline: none;
}
.products-filter__button::before {
  content: attr(data-name);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-family: "Roboto";
  font-size: 10px;
  letter-spacing: 6.16px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .products-filter__button::before {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .products-filter__button::before {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .products-filter__button {
    display: inline-block;
    padding: 60px 40px;
  }
}
.products-filter__button--active {
  padding: 10px 24px 10px 36px;
  transition: all 0.3s ease-in;
  border: 1px solid #b5b5b5;
}
@media (min-width: 768px) {
  .products-filter__button--active {
    padding: 60px 40px;
  }
}
.products-card {
  text-align: center;
  cursor: pointer;
  padding: 15px 24px 15px 36px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in;
  margin-bottom: 30px;
  position: relative;
}
@media (min-width: 768px) {
  .products-card {
    padding: 50px 25px 30px;
  }
}
.products-card:hover {
  padding: 15px 24px 15px 36px;
  transition: all 0.3s ease-in;
  border: 1px solid #b5b5b5;
}
.products-card:hover::before {
  content: attr(data-name);
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  color: #595959;
  font-family: "Roboto";
  font-size: 10px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 7px;
  background-color: #fff;
  z-index: 1;
}
@media (min-width: 768px) {
  .products-card:hover {
    padding: 50px 25px 30px;
  }
}
.products-card__name {
  font-size: 14px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  padding: 10px 0;
}
.products-card__price {
  font-size: 12px;
  letter-spacing: 2.37px;
}
.about {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.56px;
  margin-bottom: 85px;
}
@media (min-width: 768px) {
  .about {
    width: 700px;
  }
}
.slider {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 127px;
  text-align: center;
}
.slider__block {
  max-width: 300px;
  margin: 0 auto;
  text-align: start;
  position: relative;
}
.slider__title {
  font-family: 'chancecyrillic';
  font-size: 85px;
  color: #e7e7e7;
}
.slider__slogan {
  font-family: 'jaapokki_subtractregular';
  font-size: 22px;
  position: absolute;
  top: 50%;
  right: 0;
  line-height: 1;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.top-slider-theme .owl-controls .owl-buttons div {
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: left top;
  top: 50%;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-prev {
  left: 0;
  background-image: url('../img/icons/arrow-left.png');
}
.owl-next {
  right: 0;
  background-image: url('../img/icons/arrow-right.png');
}
/* Styling Pagination*/
.owl-pagination {
  position: absolute;
  bottom: -62px;
  width: 100%;
}
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  background-image: url('../img/icons/arrow-button.png');
}
.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
  background-image: url('../img/icons/arrow-button-active.png');
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.footer {
  text-align: center;
  background-color: #e7e7e7;
  padding: 90px 0 80px;
}
@media (min-width: 992px) {
  .footer {
    text-align: start;
  }
}
.footer-title {
  font-size: 14px;
  letter-spacing: 6.16px;
  line-height: 2.1;
  text-transform: uppercase;
  padding: 20px 0 10px;
}
@media (min-width: 992px) {
  .footer-title {
    padding: 0;
  }
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-list li {
  margin: 0;
  padding: 0;
}
.footer-list li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 2.5;
  text-transform: uppercase;
}
.right-title {
  font-size: 14px;
  letter-spacing: 6.16px;
  line-height: 2.1;
  text-transform: uppercase;
  padding: 20px 0 10px;
  color: rgba(0, 0, 0, 0.65);
}
@media (min-width: 992px) {
  .right-title {
    padding: 0;
  }
}
.right-title__list {
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;
}
.right-title__list li {
  margin: 0;
  padding: 0;
}
.right-title__list li p {
  margin: 0;
}
.right-title__list li p a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 1.68px;
  line-height: 2.14;
}
.right-title__text {
  font-size: 14px;
}
.right-title__input {
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 20px;
  background-color: transparent;
}
.right-title__btn {
  background-color: transparent;
  background-image: url(../../img/massege.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  width: 25px;
  height: 25px;
  border: none;
}
