.header {
    padding-top: 15px;

    @media (min-width: 768px) {
        padding-top: 30px;
    }

    @media (min-width: 992px) {
        padding-top: 40px;
    }

    @media (min-width: 1200px) {
        padding-top: 55px;
    }

    &--order {
        order: 1;

        @media (min-width: 576px) {
            order: 0;
        }
    }
}
.header__phone a {
    font-size: 12px;
    color: #000;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    text-align: center;

    @media (min-width: 576px) {
        letter-spacing: 2.4px;
    }
}



.header__nav {
    text-align: center;
    font-size: 14px;
    letter-spacing: 4.16px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
    

    @media (min-width: 576px) {
        margin-top: 20px;
        margin-bottom: 30px;
        letter-spacing: 6.16px;
    }

    @media (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    @media (min-width: 992px) {
        margin-bottom: 45px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        text-decoration: none;
        color: #000;
    }
}

.logo-name {
    font-family: 'jaapokki_subtractregular';
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6.8px;

    @media (min-width: 768px) {
        font-size: 18px;
        letter-spacing: 7.92px;
    }
}

.logo-slogan {
    font-size: 9px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.96px;
}

.header-rigth {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.header-rigth__lang {
    font-size: 10px;
    letter-spacing: normal;
    text-transform: uppercase;

    @media (min-width: 992px) {
        letter-spacing: 2px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-right: 8px;

        &:last-child {
            padding-right: 0;
        }

        a {
            text-decoration: none;
            color: #777;

            &:hover, &:focus {
                color: #000;
            }
            
            &.active {
                color: #000;
            }
        }
    }
}

.header-total-price {
    display: flex;
    margin-left: 5px;

    @media (min-width: 768px) {
        margin-left: 25px;
    }

    @media (min-width: 992px) {
        margin-left: 35px;
    }
}

.header-total-price__num {
    font-size: 10px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
}

.header-total-price__sum {
    font-size: 10px;
    color: #000;
    padding-left: 9px;

    &:first-child {
        padding-left: 0;
    }
}

.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo-desc {
    display: inline-block;
    width: 550px;

    @media (min-width: 768px) {
        width: 700px;
        margin-left: 20px;
    }

    @media (min-width: 992px) {
        margin-left: 40px;
    }

    @media (min-width: 1200px) {
        margin-left: 70px;
    }

    @media (min-width: 1400px) {
        margin-left: 91px;
    }
}

.promo-desc__title {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media (min-width: 576px) {
        font-size: 16px;
        margin-bottom: 45px;
    }

    @media (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 45px;
    }

    @media (min-width: 992px) {
        font-size: 24px;
        line-height: 1.6;
        letter-spacing: 7px; 
    }

    @media (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.8;
    }

    @media (min-width: 1300px) {
        font-size: 35px;
        line-height: 2;
        letter-spacing: 8.75px;
    }
}

.header-promo {
	overflow-x: hidden;
}

.container-promo {
	position: relative;
    width: 320px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	display: flex;
    align-items: center;

    @media (min-width: 576px) {
        width: 100%;
    }

    @media (min-width: 1200px) {
        height: 630px;
    }
}

.header-promo__title {
	width: 670px;
    height: 600px;
}

.header-promo__img {
    width: 470px;
    height: 100%;
    overflow: hidden;
}

.header-promo__img-before {
	position: absolute;
	transform: translateX(-100%);
    display: none;
	width: 380px;
    height: 100%;
    overflow: hidden;

    @media (min-width: 1230px) {
        display: block;
    }
}

.header-promo__img-after {
	position: absolute;
	right: 0px;
	transform: translateX(100%);
    display: none;
	width: 380px;
    height: 100%;
    overflow: hidden;
    
    @media (min-width: 1230px) {
        width: 380px;
        display: block;
    }
}
