.products__filter {
    font-family: 'jaapokki_subtractregular';
    font-size: 36px;
    
    letter-spacing: 12.2px;
    text-transform: uppercase;
    margin: 100px auto 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 0;
        padding: 0;
        display: inline-block;
        border: 1px solid #b5b5b5;
        padding: 63px 43px;
    }

    a {
        text-decoration: none;
        color: #ccc;
        position: relative;

        &::before {
            content: "men";
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            left: 0;
            color: #000;
            font-family: "Roboto";
            font-size: 14px;

        }
    }

}